@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -6rem;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 1 px;
    word-spacing: 2px;
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  @media only screen and (max-width: 768px){
    .summary{
      margin-top: -6rem;
    }
    .summary h2 {
      font-size: 20px;
      margin-top: 0;
    }

    .summary p{
      font-size: 12px;
    }
  }